<div id="<%= dom_id event %>">
  <p>
    <strong>User:</strong>
    <%= event.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= event.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= event.end_date %>
  </p>

  <p>
    <strong>Location address:</strong>
    <%= event.location_address %>
  </p>

  <p>
    <strong>Itinerary:</strong>
    <%= event.itinerary %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= event.capacity %>
  </p>

  <p>
    <strong>Capacity unit:</strong>
    <%= event.capacity_unit %>
  </p>

</div>
