<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :start_date, class: 'form-label' %>
      <%= form.datetime_field :start_date, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :end_date, class: 'form-label' %>
      <%= form.datetime_field :end_date, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :location_address, class: 'form-label' %>
      <%= form.text_field :location_address, class: 'form-control' %>
    </div>


  <div class="mb-3">
    <%= form.label :capacity, class: 'form-label' %>
      <%= form.number_field :capacity, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :capacity_unit, class: 'form-label' %>
      <%= form.text_field :capacity_unit, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <% if event.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', event, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if event.persisted? %>
      <%= link_to "Cancel", event, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", events_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
